# json and all temp files
**/.ipynb_checkpoints
*.json
*.bak
**/__pycache__/
.DS_Store
._*

# cached files
**/cache/

# virtual environment
.env/

# include node packages
!package*.json
!.prettierrc.json
# ignore node_modules
**/node_modules/
